<!DOCTYPE html>
<html>
<head>
  <title>Photosite</title>
</head>

<body bgcolor="#adff2f">
<div style="color:black">
  <h1><div style="text-align: center;">PHOTOSITE</div></h1>
</div>
<div>
  <div style="text-align: center;">
    <h1>Photos of <%= @user.first_name %> <%= @user.last_name %></h1>
    <% @photos.each do |photo| %>
      <div style="text-align: center;">
        <%= image_tag("/assets/#{photo.file_name}") %>
        <p> PHOTO CREATED AT   <%= photo.date_time %></p>
        <div style="text-align: center;">
          <% @comments.where("photo_id=?",photo.id).each do |comment| %>
            <li>
              <p> COMMENT: <%= comment.comment_text %></p>
              <p> CREATED AT: <%= comment.date_time %></p>
              <p> POSTED BY: <%= link_to display_name(comment.user_id) , user_photos_path(comment.user_id) %></p>
            </li>
            </div>
          <% end %>
          </div>
      </ul>
      <br>
      </div>
      </div>
      <br>
    <%end%>

    </body>
</html>